<!DOCTYPE html>
<html>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<br>
	<button id="start"> Start </button>
	<button id="stop">Stop</button>
	<button id="export">Export Data</button>
	<br><br>
	<p> Low = Blue </p>
	<p> Medium = Orange </p>
	<p> High = Red </p>
	<h3>Packet Sniffer Data:</h3>
	<table id='dataTable' class="table table-bordered" style="width:100%">
		<tr>
			<th>Source IP</th>
			<th>Source Port</th>
			<th>Destination IP</th>
			<th>Destination Port</th>
			<th>Protocol</th>
		</tr>
		
	</table>

</body>
</html>
