<!DOCTYPE html>
<html>
<head>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<!-- Opening new window to show packet details (instead of modal) -->
	<script>
	function myFunction(clicked_id) {
		
		var myWindow = window.open("", "MsgWindow", "width=600,height=400");
		myWindow.document.write(`<p><u> Packet ${clicked_id + 1} </u></p>`);
		myWindow.document.write(`<p> Source IP: ${JSON.parse(localStorage.getItem(`packet${clicked_id}`)).source_ip} </p>`);
		myWindow.document.write(`<p> Source Port: ${JSON.parse(localStorage.getItem(`packet${clicked_id}`)).source_port} </p>`);
		myWindow.document.write(`<p> Destination IP: ${JSON.parse(localStorage.getItem(`packet${clicked_id}`)).dest_ip} </p>`);
		myWindow.document.write(`<p> Destination Port: ${JSON.parse(localStorage.getItem(`packet${clicked_id}`)).dest_port} </p>`);
		myWindow.document.write(`<p> Protocol: ${JSON.parse(localStorage.getItem(`packet${clicked_id}`)).prot} </p>`);
		myWindow.document.write(`<p> Severity: ${JSON.parse(localStorage.getItem(`packet${clicked_id}`)).severity} </p>`);
		myWindow.document.write(`<p> Message: ${JSON.parse(localStorage.getItem(`packet${clicked_id}`)).msg} </p>`);
		myWindow.document.write(`<p><u> Hexdigest of Packet ${clicked_id + 1} </u></p>`);
		myWindow.document.write(`<pre>${JSON.parse(localStorage.getItem(`packet${clicked_id}`)).data}</pre>`);
		
	}
	</script>
	<!------------------->
	<br>
	<button id="start"> Start </button>
	<button id="export">Export Data</button>
	<br><br>
	<p><u>Severity Levels</u></p>
	<p> Low = Blue </p>
	<p> Medium = Orange </p>
	<p> High = Red </p>
	<h3>Packet Sniffer Data:</h3>
	<table id='dataTable' class="table table-bordered" style="width:100%; text-align:center;">
		<tr>
			<th>Source IP</th>
			<th>Source Port</th>
			<th>Destination IP</th>
			<th>Destination Port</th>
			<th>Protocol</th>
			<th>Severity</th>
			<th>Message</th>
			<th>View Details</th>
		</tr>
	</table>
</body>
</html>
